<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511636322253-1mc5q8n8df8qpo0tg3g5idsgmasu82o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511636322253-1mc5q8n8df8qpo0tg3g5idsgmasu82o3</string>
	<key>API_KEY</key>
	<string>AIzaSyAJo2W6_nrJNZJLSPZY87qJEzCDjfNhgzM</string>
	<key>GCM_SENDER_ID</key>
	<string>511636322253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>make.AIFit</string>
	<key>PROJECT_ID</key>
	<string>aifit-431a3</string>
	<key>STORAGE_BUCKET</key>
	<string>aifit-431a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511636322253:ios:6375477bcbb4505f0b7684</string>
</dict>
</plist>